@import "./normalize.scss";
@import "./variables.scss";
@import "./typography.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  background: $color-light;
  font-family: $font-main;
  font-size: ($base-unit * 0.8);
  line-height: 1.7;
  color: $color-dark;
  letter-spacing: 0.5px;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}
