@import "./normalize.scss";
@import "./variables.scss";
@import "./typography.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html{
  overflow-y: scroll;
  overflow-x: hidden;
}
 
a,
a:hover,
a:visited {
  text-decoration: none;
}