@import "./mixins.scss";

$color-light: #fff;
$color-dark: #0a1121;
$color-primary: #0cbef3;
$color-secondary: #243350;
$color-success: #3fcfb4;
$color-danger: #fd2a47;
$color-background: #f8f9fb;
$color-border: #edf0f4;

//sizes

$base-unit: 1rem * 1.25;

//fonts

$font-main: "Lato", sans-serif;

$fw-light: 300;
$fw-regular: 400;
$fw-bold: 700;

//breakpoints

$br-mobile: 360px;
$br-tablet: 780px;
$br-desktop: 992px;
$br-xl-desktop: 1366px;
