@import '/src/styles/variables.scss';

.component {
  padding: $base-unit $base-unit * 1.5;
  background: $color-primary;
  width: 100%;
  color: $color-light;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include max-media($br-mobile) {
    flex-direction: column-reverse;
  }
}

.selectWrapper {
  width: $base-unit * 10;
  color: $color-dark;
  margin-right: $base-unit * 0.5;

  @include max-media($br-mobile) {
    margin-right: 0;
    margin-top: $base-unit * 0.5;
  }
}
